node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.vscode
.idea
dist
coverage
.env.example
README.md
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
test
**/*.spec.ts
.cursorrules
.cursor/ 